// base/global.scss
$font-primary: 'Sanchez', serif;

html, body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  color: #222; // default text color, or customize
  background-color: #f4f4f4; // optional
}

// base/global.scss or your main global SCSS file

.hidden {
  display:none;
}


